:root {
    --vh: 1vh;
}

@include get-container();
@include grid-system();

body,
button,
input,
textarea {
    font-family: map-get($font-family, default);
}

html,
body {
    @include typo("body", 1);

    font-family: map-get($font-family, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea {
    @include typo("body", 1);

    border: none;
    appearance: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

button {
    @include typo("button", 1);

    background-color: transparent;
}

.sprite-icons {
    @include size(1em);

    fill: currentColor;
}
