.fade {
    &-enter {
        opacity: 1;

        &-active {
            transition: opacity 0.5s;
        }
    }

    &-leave {
        &-to {
            opacity: 0;
        }

        &-active {
            transition: opacity 0.5s;
        }
    }
}
